caption{
    color: chocolate;
    text-align: center;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
table{
    border-collapse: collapse;
    border-style: groove;
    margin: auto;

}
caption{
    font-size: 1.3em;
    font-weight: bold;
    padding: .625rem;
}
td, th{
    padding: .625rem;
    border-style: groove;
    border-collapse:separate;
    background-color: rgb(207, 205, 205);
}
#foot{
font-family: 'Times New Roman', Times, serif;
font-size: small;
text-align: center;    
}
#dif{
    color: rgb(0, 0, 0);
}